/*  -------------Variable Definitions--------------  */
:root {
  --debug-border: 0px solid blue; /* Change pixel value to see borders for debugging */
}

* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif; /*Font from Google APIs*/
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
  }

  .loading-message {
    font-size:inherit;
    animation: 1s loading-fade infinite alternate linear;
  }

  .hidden {
    visibility:hidden;
  }

  /*Fades from black to white for loading message animation*/
@keyframes loading-fade { 
  0% {
    color:#000;
  }
  100% {
    color: #fff;
  }
}


/* ---------------Responsive Design Section (use for any customizations needed)--------------- */

/* For screens up to 575 pixel width (smart phones & tablets) */

@media all and (max-width: 575px) {
}

/* For screens 575 to 750 pixel width */

@media all and (min-width: 575px) and (max-width: 750px) {
}

/* For screens with 750+ pixel width */
@media all and (min-width: 750px) {
}